aiomysql
aiosqlite
alembic
APScheduler
bcrypt
Celery
fastapi-mail
fastapi[standard]
gunicorn
httpx
imagekitio[aiohttp]
passlib[bcrypt]
pillow
pydantic[email]
pymysql
pytest
python-dotenv
python-jose[cryptography]
python-multipart
redis
sentry-sdk[fastapi]
slowapi
SQLAlchemy
stripe
uvicorn[standard]
zxcvbn-python