fastapi[standard]
uvicorn[standard]
gunicorn

SQLAlchemy
aiomysql
pymysql
aiosqlite
alembic

python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart

pydantic[email]
python-dotenv

redis
slowapi

httpx
fastapi-mail

stripe

pillow
imagekitio[aiohttp]