aiomysql
aiosqlite
alembic
bcrypt
fastapi
fastapi-mail
fastapi[standard]
Gunicorn
httpx
imagekitio
imagekitio[aiohttp]
mysql
passlib[bcrypt]
pillow
pydantic
pydantic[email]
pymysql
python-dotenv
python-jose[cryptography]
python-multipart
redis
slowapi
SQLAlchemy
stripe
uvicorn[standard]